<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parabank">
	<test thread-count="5" name="Parabank E2E Flow">
		<classes>
			<class name="runnerPackage.runner"></class>
		</classes>
	</test> <!-- Parabank E2E Flow -->
</suite> <!-- Parabank -->
